@import "primeng/resources/themes/lara-dark-purple/theme.css";
// @import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: #eaeaeade;
	background-color: #2d2d2d;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}

a,
h1,
h2 {
  font-weight: 500;
  color: #797ddc;
  text-decoration: inherit;
}

.p-card {
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem #00000065;

  &:hover {
    background-color: #111827;
    box-shadow: 0 0.1rem 0.3rem #000000b7;

    .main-image {
      box-shadow: 0 0.1rem 0.5rem #000000be;
    }
  }

  .main-image {
    box-shadow: 0 0.1rem 0.5rem #00000070;
  }

  .p-card-content {
    padding: 0;
  }
}

.p-accordion-tab {

  a {
    &:hover {
      background-color: #111827;
    }
  }
}

.footer {
	display: flex;
	width: 100%;
	padding: 0.5rem 0;
	background-color: #1f2937;
}

/* Light mode */
@media (prefers-color-scheme: light) {

	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}

	.header,
	.footer {
		background-color: #eaeaea;
	}

	.card {
		background-color: #eaeaea;
	}

	.card:hover {
		background-color: #dfe2e9;
		box-shadow: 0 0.1rem 0.3rem #000000a2;
	}

	.card .main-image {
		box-shadow: 0 0.1rem 0.5rem #00000070;
	}

	select {
		background-color: #eaeaea;
	}
}
